In [44]:
import sys
import os
import pandas as pd
# Add project root to path to allow imports from src
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.data_preprocessing import load_parquet_to_df

## Obtaining the Dataframes ##

The dataframes used are: 
- Consum Total Agregat (CTA)
- Detecció de Consums Anòmals (DCA)

In [45]:
# Define the path to your raw data file
fp_CTA = '..\data\Mostra Set de dades 1_ Consum total agregat.parquet'
df_CTA = load_parquet_to_df(fp_CTA)

fp_DCA = '..\data\Mostra Set de dades 2_Detecció de consums anòmals.parquet'
df_DCA = load_parquet_to_df(fp_DCA)

['secció censal', 'districte', 'municipi', 'data', 'ús', 'nombre de comptadors', 'consum acumulat (l']
['poliza_suministro', 'numeroseriecontador', 'consumo_real', 'fecha_hora', 'codi_anomalia', 'data_inici', 'data_fi']

### Cleaninf df

In [ ]:
#Detecció de consums anòmals dataframe cleaned 
df_DCA.fillna(0.0, inplace=True)

#Consum Total Agregat cleaning
df_CTA.dropna()     #As they indicate the secció censal and the districte, without them we cannot 
                    #identify where data belongs
df_CTA = df_CTA[(df_CTA['districte'].notna()) & (df_CTA['districte'] != '>')]
df_CTA['districte'] = df_CTA['districte'].replace('06', '6')
df_CTA['districte'] = df_CTA['districte'].replace('03', '3')

<class 'pandas.core.frame.DataFrame'>
Index: 961229 entries, 0 to 961228
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   secció censal         961229 non-null  object
 1   districte             961229 non-null  object
 2   municipi              961229 non-null  object
 3   data                  961229 non-null  object
 4   ús                    961229 non-null  object
 5   nombre de comptadors  961229 non-null  int64
 6   consum acumulat (l    961229 non-null  int64
dtypes: int64(2), object(5)
memory usage: 58.7+ MB

In [50]:
display(df_DCA.head(5))
display(df_CTA.head(5))

,poliza_suministro,numeroseriecontador,consumo_real,fecha_hora,codi_anomalia,data_inici,data_fi
0,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 00:00:00,163840,2024-07-15,2024-09-13
1,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,21.0,2024-06-17 00:56:13,163840,2024-07-15,2024-09-13
2,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,7.0,2024-06-17 01:56:13,163840,2024-07-15,2024-09-13
3,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 02:56:13,163840,2024-07-15,2024-09-13
4,JSM5YS4KVQUI5DQA,RMQO6U3MP5TS4QUL,0.0,2024-06-17 03:56:13,163840,2024-07-15,2024-09-13

,secció censal,districte,municipi,data,ús,nombre de comptadors,consum acumulat (l
0,801901001,1,BARCELONA,2023-01-01,Comercial/Comercial/Commercial,64,14258
1,801901001,1,BARCELONA,2023-01-01,Domèstic/Doméstico/Domestic,395,11089
2,801901001,1,BARCELONA,2023-01-01,Industrial/Industrial/Industrial,20,490360
3,801901001,1,BARCELONA,2023-01-02,Comercial/Comercial/Commercial,64,6780
4,801901001,1,BARCELONA,2023-01-02,Domèstic/Doméstico/Domestic,395,11571